<main>
  <section class="title-section">
    <span class="mat-display-4 uppercase title-bg"> Contact </span>
    <span class="mat-display-3 uppercase no-margin">
      Get in <span class="selected">touch</span>
    </span>
  </section>
  <div fxLayout="row wrap" fxLayoutGap="2% grid" fxLayout.lt-md="column">
    <div fxFlex="50%">
      <section style="margin: 0 16px">
        <section>
          <span class="mat-headline uppercase">Don't be shy</span>
          <p class="mat-body-1">
            <!-- I’m interested in freelance opportunities – especially ambitious or
              large projects. However, if you have other request or question, don’t
              hesitate to use the form. -->
            Feel free to get in touch with me. I am always open to discussing
            new projects, creative ideas or opportunities to be part of your
            visions.
          </p>
        </section>

        <section>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="primary">mail</mat-icon>
              <div mat-line class="mat-body-2">Mail me</div>
              <div mat-line class="mat-body-1">ravindraa.patle@gmail.com</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="primary">call</mat-icon>
              <div mat-line class="mat-body-2">Call me</div>
              <div mat-line class="mat-body-1">+91 7898009535</div>
            </mat-list-item>
          </mat-list>
        </section>
      </section>
    </div>

    <div fxFlex="50%">
      <div class="full-width" [ngStyle.lt-md]="{ 'margin-top': '64px' }">
        <form [formGroup]="formContactMe" novalidate>
          <div
            fxLayout="row wrap"
            fxLayoutGap="8px grid"
            fxLayoutAlign="start"
            fxLayout.lt-md="column"
          >
            <div fxFlex="50%">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text" />
                <mat-error *ngIf="errorHandling('name', 'required')">
                  Please provide a name.
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="50%">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" />
                <mat-error *ngIf="errorHandling('email', 'required')">
                  Please provide an email address.
                </mat-error>
                <mat-error *ngIf="errorHandling('email', 'email')">
                  Please provide a valid email.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Subject</mat-label>
            <input matInput formControlName="subject" type="text" />
            <mat-error *ngIf="errorHandling('subject', 'required')">
              Please provide a subject.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
            <mat-error *ngIf="errorHandling('message', 'required')">
              Please provide a message.
            </mat-error>
            <mat-error *ngIf="errorHandling('message', 'minlength')">
              Messages must be at least 15 characters long.
            </mat-error>
          </mat-form-field>

          <div class="progressBarContainer">
            <div class="progressBar" *ngIf="isSubmitting">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </div>

          <button
            class="lg-btn full-width"
            mat-stroked-button
            color="primary"
            type="button"
            [disabled]="formContactMe.invalid"
            (click)="submitContactMe()"
          >
            Contact me
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
