<main>
  <section class="title-section">
    <span class="mat-display-4 uppercase title-bg"> Contact </span>
    <span class="mat-display-3 uppercase no-margin">
      Get in <span class="selected">touch</span>
    </span>
  </section>
  <div fxLayout="row wrap" fxLayoutGap="2% grid" fxLayout.lt-md="column">
    <div fxFlex="50%">
      <section style="margin: 0 16px">
        <section>
          <span class="mat-headline uppercase">Don't be shy</span>
          <p class="mat-body-1">
            <!-- I’m interested in freelance opportunities – especially ambitious or
              large projects. However, if you have other request or question, don’t
              hesitate to use the form. -->
            Feel free to get in touch with me. I am always open to discussing
            new projects, creative ideas or opportunities to be part of your
            visions.
          </p>
        </section>

        <section>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="primary">mail</mat-icon>
              <div mat-line class="mat-body-2">Mail me</div>
              <div mat-line class="mat-body-1">ravindraa.patle@gmail.com</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="primary">call</mat-icon>
              <div mat-line class="mat-body-2">Call me</div>
              <div mat-line class="mat-body-1">+91 7898009535</div>
            </mat-list-item>
          </mat-list>
        </section>
      </section>
    </div>

    <div fxFlex="50%">
      <form class="full-width" [ngStyle.lt-md]="{ 'margin-top': '64px' }">
        <div
          fxLayout="row wrap"
          fxLayoutGap="8px grid"
          fxLayoutAlign="start"
          fxLayout.lt-md="column"
        >
          <div fxFlex="50%">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" />
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" />
            </mat-form-field>
          </div>
        </div>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Subject</mat-label>
          <input matInput type="text" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Message</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

        <button mat-stroked-button color="primary">Contact me</button>
      </form>
    </div>
  </div>
</main>
