.progressBarContainer {
  position: relative;
  height: 32px;
  margin-bottom: 16px;

  .progressBar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
