<h2 title>{{ messageData.subject }}</h2>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <p>
    <span class="mat-body-1">
      <b>{{ messageData.name }}</b>
    </span>
    <span class="mat-body-2">&nbsp; ({{ messageData.email }})</span>
  </p>
  <p class="mat-body-2">
    {{ messageData.created_at.toDate() | date: "MMM d, y, h:mm a" }}
  </p>
</div>

<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography">
  <p></p>
  <p>{{ messageData.message }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
