::ng-deep .mat-tab-nav-bar,
::ng-deep .mat-tab-header {
  border-bottom: 0 !important;
}

::ng-deep .mat-tab-header {
  margin-bottom: 40px !important;
}

::ng-deep .mat-tab-label {
  font: 500 15px / 18px "Poppins" !important;
  letter-spacing: 0.0667em;
}

.card-container {
  margin: 16px;
  overflow: hidden;
  border-radius: 5px;
  // box-shadow: 4px 3px 8px 0px var(--primary-color);
  box-shadow: 1px 2px 1px -1px var(--primary-color),
    0px 1px 1px 0px var(--primary-color), 0px 1px 3px 0px var(--primary-color);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    // box-shadow: 4px 3px 11px 6px var(--primary-color);
    box-shadow: 2px 3px 12px 4px var(--primary-color);
    transform: translateY(-3px);
  }

  .image-container {
    position: relative;
    height: 172px;
  }

  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 172px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  ::ng-deep .mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 160px;
    margin-bottom: 0;
  }

  .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .description {
    line-height: 32px;
    height: calc(1 * 32px);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
