<main [ngStyle.lt-md]="{ padding: '64px 16px' }">
  <!--  start header section -->
  <section class="title-section">
    <span class="mat-display-4 uppercase title-bg">Works</span>
    <span class="mat-display-3 uppercase no-margin">
      My <span class="selected">Portfolio</span>
    </span>
  </section>
  <!--   end header section -->

  <!-- start tabbar section -->
  <section
    fxLayout="row"
    fxLayoutAlign="center center"
    *ngIf="showSpinner; else showTabs"
  >
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </section>

  <ng-template #showTabs>
    <section class="tabbar">
      <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
        <ng-container *ngFor="let repo of repos">
          <!-- tabs with label -->
          <mat-tab *ngIf="repo.projects.length > 0" [label]="repo.label">
            <!-- tab content -->
            <div fxLayout="row wrap" style="margin-bottom: 40px">
              <ng-container *ngFor="let project of repo.projects">
                <div fxFlex="0 1 33%" fxFlex.sm="0 1 50%" fxFlex.xs="100%">
                  <div class="card-container">
                    <mat-card>
                      <div class="image-container">
                        <img
                          class="card-image"
                          mat-card-image
                          [src]="project.image_url"
                          alt="Image for Repo"
                        />
                      </div>
                      <mat-card-content>
                        <mat-card-title class="title">
                          {{ project.name }}
                        </mat-card-title>
                        <mat-card-subtitle class="description">
                          {{ project.description }}
                        </mat-card-subtitle>
                      </mat-card-content>
                      <!-- <mat-card-actions align="end" fxHide fxShow.xs>
                      <button mat-stroked-button color="primary">View</button>
                    </mat-card-actions> -->
                    </mat-card>
                  </div>
                </div>
              </ng-container>
            </div>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </section>
  </ng-template>
  <!-- end tabbar section -->
</main>
