<!-- https://iuri.is/about -->
<!-- https://jackthenomad.com/coding-is-not-an-art-its-engineering-e95c2eead1ea -->
<!-- https://mattfarley.ca/ -->
<!-- https://tunis.ibthemespro.com/home-dark -->

<!---
  below pattern is followed
  1. common styles
  2. row layout
  3. row layout styles
  4. column (lt-md to divide into column) layout
  5. column layout styles

-->

<main
  fxLayout="row wrap"
  fxLayoutGap="0px grid"
  fxLayout.lt-md="column"
  fxLayoutAlign.gt-sm="center center"
  [ngStyle.gt-sm]="{ height: '100vh' }"
>
  <div fxFlex="40%" fxLayoutAlign="center center">
    <div
      fxHide
      fxShow.lt-md
      fxLayoutAlign="center center"
      style="margin-bottom: 16px"
    >
      <!-- show on mobile -->
      <img
        src="../../../assets/images/Ravindra-Patle.jpg"
        alt="image"
        class="image-circular"
        [ngStyle.sm]="{
          width: '270px',
          height: '270px'
        }"
      />
    </div>

    <div fxHide fxShow.gt-sm fxLayoutAlign="center center">
      <!-- show on web -->
      <img
        src="../../../assets/images/Ravindra-Patle.jpg"
        alt="image"
        class="mat-elevation-z8 image-large"
      />
    </div>
  </div>

  <div fxFlex="60%" fxLayoutAlign="center center">
    <section
      [ngStyle.gt-sm]="{ padding: '0 4rem 0 6rem' }"
      [ngStyle.lt-md]="{ 'text-align': 'center' }"
    >
      <div
        class="mat-display-2 uppercase"
        [ngStyle]="{ margin: '16px 0' }"
        ngClass.xs="mat-display-1"
      >
        <span class="selected">I'm Ravindra Patle.</span><br />
        App Developer
      </div>
      <p class="mat-body-1" [ngStyle.sm]="{ padding: '0 4rem' }">
        I'm a web designer & front‑end developer focused on crafting clean &
        user‑friendly experiences, I am passionate about building excellent
        software that improves the lives of those around me.
      </p>

      <div>
        <button
          class="lg-btn"
          mat-stroked-button
          color="primary"
          [routerLink]="['/contact']"
          routerLinkActive="active-link"
        >
          Contact me
        </button>
      </div>
    </section>
  </div>
</main>
