<div class="container">
  <!-- https://iuri.is/about -->
  <!-- https://jackthenomad.com/coding-is-not-an-art-its-engineering-e95c2eead1ea -->
  <!-- https://mattfarley.ca/ -->

  <div class="text-zone">
    <h1 class="text-root">
      <span>Hi,</span><br />
      <span>I'm Ravindra,</span><br />
      <span>Web/App Developer</span><br />
    </h1>
    <p>Front End Developer</p>
    <br />
    <div>
      <button mat-stroked-button color="primary">Contact me</button>
    </div>
  </div>

  <!-- My current toolset includes Elixir Language & Phoenix Framework, Ruby & Ruby on Rails, React, Redux, Angular, TypeScript, Docker and all the other various frameworks, libraries and technologies related to them. -->
</div>
