<div
  class="main-container"
  [class.layout-is-mobile]="(isHandset$ | async) === true"
>
  <mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav
      class="main-sidenav"
      #sideNavBar
      [fixedInViewport]="true"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <div class="main-sidenav-menu_top">
        <span class="logo">Web Developer</span>
      </div>

      <mat-nav-list class="main-sidenav-menu_nav">
        <a *ngFor="let folder of folders" mat-list-item>{{ folder.name }}</a>
        <a *ngFor="let note of notes" mat-list-item>{{ note.name }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p><button mat-button (click)="sideNavBar.toggle()">Toggle</button></p>
      <p *ngFor="let content of fillerContent">{{ content }}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
