.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.layout-is-mobile .main-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  bottom: 0;
  // background-color: transparent;
}

.main-sidenav-container {
  /*
  When the sidenav is not fixed, stretch the sidenav container to fill the available space.
  This causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts.
  */
  flex: 1;
}

.layout-is-mobile .main-sidenav-container {
  /*
  When the sidenav is fixed, don't constrain the height of the sidenav container.
  This allows the `<body>` to be our scrolling element for mobile layouts.
  */
  flex: 1 0 auto;
}

.sideNavBar {
  background-color: transparent;
  border: 0;
  box-shadow: none !important;
}

.card-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: 0.3s;
}

.card-icon-container:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.nav-list-label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 0 30px 30px 0;
  color: #ffffff;
  margin: 0;
  opacity: 0;
  padding: 0 16px 0 32px !important;
  margin-left: -32px;
  transition: all 0.5s;
  z-index: -1;
}

.card-icon-container:hover + .nav-list-label {
  opacity: 1;
  margin-left: -24px;
}

.mobileNavBarContainer {
  .card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
  }
}

.active-link {
  background-color: var(--primary-color) !important;
}
