.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.layout-is-mobile .main-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.main-app-name {
  margin-left: 8px;
}

.main-sidenav-container {
  /*
  When the sidenav is not fixed, stretch the sidenav container to fill the available space.
  This causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts.
  */
  flex: 1;
}

.layout-is-mobile .main-sidenav-container {
  /*
  When the sidenav is fixed, don't constrain the height of the sidenav container.
  This allows the `<body>` to be our scrolling element for mobile layouts.
  */
  flex: 1 0 auto;
}

.main {
  &-sidenav {
    width: 10rem;

    &-menu_nav {
      padding: 0;
      border-top: 1px solid #282828;

      mat-icon {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #8f8d8d;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #8f8d8d;
        // color: #909096;
        // border-bottom: 1px solid #5f5c5c;
        border-bottom: 1px solid #484747;
        transition: color 0.3s, background-color 0.3s;
      }

      a:hover {
        color: #08fdd8;
      }

      .active-list-item {
        color: var(--primary-color) !important;
      }
    }
  }
}
