<div class="main-container">
  <mat-sidenav-container class="main-sidenav-container">
    <!-- [style.marginTop.px]="mobileQuery.matches ? 56 : 0" -->
    <mat-sidenav
      class="main-sidenav"
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="!mobileQuery.matches"
    >
      <mat-nav-list class="main-sidenav-menu_nav">
        <a mat-list-item routerLink="/">
          <span>Web Developer</span>
        </a>
        <a
          *ngFor="let path of paths"
          mat-list-item
          [routerLink]="path.path"
          routerLinkActive="active-list-item"
        >
          <span class="capitalize">{{ path.label }}</span>
        </a>

        <mat-list-item role="listitem"
          >icon for dark/light mode at center</mat-list-item
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
