.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.layout-is-mobile .main-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.main-sidenav-container {
  /*
  When the sidenav is not fixed, stretch the sidenav container to fill the available space.
  This causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts.
  */
  flex: 1;
}

.layout-is-mobile .main-sidenav-container {
  /*
  When the sidenav is fixed, don't constrain the height of the sidenav container.
  This allows the `<body>` to be our scrolling element for mobile layouts.
  */
  flex: 1 0 auto;
}

.sideNavBar {
  .mat-toolbar {
    height: 100%;
    padding: 16px 0;
  }

  .mat-nav-list {
    padding: 0;
    width: 100%;
  }

  .sideNavBarMenuNavList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .mat-list-item,
  .mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobileNavBarMenuList {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mat-nav-list {
    padding: 0;
  }
}

.mobileNavBarMenuList,
.sideNavBarMenuNavList {
  .mat-list-item:hover {
    color: var(--primary-color);
  }

  .active-list-item {
    color: var(--primary-color) !important;
  }

  .toggle.animate {
    animation: animate 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }

  @keyframes animate {
    0% {
      transform: scale(1) rotate(45deg);
    }
    50% {
      transform: scale(0) rotate(90deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
}
