<div class="main-container" [class.layout-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container
    class="main-sidenav-container"
    [style.marginBottom.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      class="sideNavBar"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="!mobileQuery.matches"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        [ngStyle]="{ 'height.vh': 100 }"
      >
        <mat-list>
          <ng-container *ngFor="let path of paths">
            <mat-list-item [ngStyle]="{ 'margin-bottom.px': 16 }">
              <mat-card [routerLink]="path.path" class="cardIconContainer">
                <mat-icon mat-list-icon>folder</mat-icon>
              </mat-card>
              <span class="mat-subheading-1 navListLabel">
                {{ path.label }}
              </span>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="themeSwitcherContainer">
        <mat-card (click)="toggleTheme()">
          <mat-icon aria-hidden="false" aria-label="switch theme icon">
            <span *ngIf="isDark" class="material-icons toggle">
              light_mode
            </span>
            <span *ngIf="!isDark" class="material-icons-round toggle">
              dark_mode
            </span>
          </mat-icon>
        </mat-card>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar
    class="main-toolbar mobileNavBarMenuList"
    *ngIf="mobileQuery.matches"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <span>Home</span>
      </a>
    </mat-nav-list>

    <mat-nav-list class="flexRow">
      <a
        mat-list-item
        *ngFor="let path of paths"
        [routerLink]="path.path"
        routerLinkActive="active-list-item"
      >
        <span class="capitalize">{{ path.label }}</span>
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item
        role="listitem"
        class="center"
        (click)="toggleTheme()"
        matTooltip="Select theme"
      >
        <mat-icon aria-hidden="false" aria-label="switch theme icon">
          <span *ngIf="isDark" class="material-icons toggle"> light_mode </span>
          <span *ngIf="!isDark" class="material-icons-round toggle">
            dark_mode
          </span>
        </mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-toolbar>
</div>
