<main>
  <!-- start header section -->
  <section class="title-section">
    <span class="mat-display-4 uppercase title-bg">Resume</span>
    <span class="mat-display-3 uppercase no-margin">
      About <span class="selected">Me</span>
    </span>
  </section>
  <!-- end header section -->

  <!-- Start Profile section -->
  <section>
    <div fxLayout="row" fxLayoutAlign="center center">
      <span class="mat-display-1 capitalize no-margin">Profile section</span>
    </div>
    <section fxLayout="row wrap" fxLayoutGap="0px grid" fxLayout.lt-md="column">
      <div fxFlex="50%">
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon color="primary">folder</mat-icon>
            <div mat-line class="mat-body-2">Full Name</div>
            <div mat-line class="mat-body-1">Ravindra Patle</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon color="primary">folder</mat-icon>
            <div mat-line class="mat-body-2">Address</div>
            <div mat-line class="mat-body-1">
              Jabalpur, Madhya Pradesh, 482001
            </div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon color="primary">mail</mat-icon>
            <div mat-line class="mat-body-2">Mail me</div>
            <div mat-line class="mat-body-1">ravindraa.patle@gmail.com</div>
          </mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="50%">
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon color="primary">call</mat-icon>
            <div mat-line class="mat-body-2">Call me</div>
            <div mat-line class="mat-body-1">+91 7898009535</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon color="primary">mail</mat-icon>
            <div mat-line class="mat-body-2">Github link</div>
            <div mat-line class="mat-body-1">https://github.com/imrobbin</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon color="primary">mail</mat-icon>
            <div mat-line class="mat-body-2">Website</div>
            <div mat-line class="mat-body-1">https://imrobbin.github.io/</div>
          </mat-list-item>
        </mat-list>
      </div>
    </section>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div style="width: 264px; padding: 64px">
        <mat-divider></mat-divider>
      </div>
    </div>
  </section>
  <!-- End Profile section -->

  <!-- Start My Skills section -->
  <section>
    <div fxLayout="row" fxLayoutAlign="center center">
      <span class="mat-display-1 capitalize no-margin">My Skills</span>
    </div>
    <section fxLayout="row wrap" fxLayoutGap="0px grid" fxLayout.lt-md="column">
      <div fxFlex="50%" style="background-color: orange; height: 100%"></div>
      <div fxFlex="50%" style="background-color: green; height: 100%"></div>
    </section>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div style="width: 264px; padding: 64px">
        <mat-divider></mat-divider>
      </div>
    </div>
  </section>
  <!-- End My Skills section -->

  <!-- Start My Education section -->
  <section>
    <div fxLayout="row" fxLayoutAlign="center center">
      <span class="mat-display-1 capitalize no-margin">My Education</span>
    </div>
    <section fxLayout="row wrap" fxLayoutGap="0px grid" fxLayout.lt-md="column">
      <div fxFlex="50%" style="background-color: violet; height: 100%"></div>
      <div fxFlex="50%" style="background-color: tomato; height: 100%"></div>
    </section>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div style="width: 264px; padding: 64px">
        <mat-divider></mat-divider>
      </div>
    </div>
  </section>
  <!-- End My Education section -->
</main>
