/* Structure */
.example-container {
  position: relative;
  margin: 40px auto;
  max-height: calc(100vh - 80px);
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: calc(100vh - 150px);
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  min-width: 96px;
}

.mat-column-created {
  min-width: 136px;
}

/* Structure */
.message-container {
  position: relative;
  margin: 40px auto;
  max-height: calc(100vh - 80px);
}

.message-table-container {
  position: relative;
  min-height: 200px;
  max-height: calc(100vh - 150px);
  overflow: auto;
}

.message-table {
  width: 100%;
}

.message-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
