table {
  width: 100%;
}

// to create a gap b/w 2 columns
th.mat-header-cell:not(last-of-type),
td.mat-cell:not(last-of-type),
td.mat-footer-cell:not(last-of-type) {
  padding-right: 24px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-bottom: 0;

  ::ng-deep .mat-form-field-wrapper {
    padding: 0 !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 40px !important;
  }

  ::ng-deep .mat-form-field-appearance-outline {
    padding: 0 !important;
  }

  ::ng-deep .mat-form-field-infix {
    padding: 12px 0 !important;
    border-top: 4px solid transparent !important;
  }
}

/* Column Widths */
.mat-column-email {
  min-width: 120px;
}

.mat-column-name {
  min-width: 104px;
}

.mat-column-created_at {
  min-width: 96px;
}

/* Structure */
.message-container {
  max-height: calc(100vh - 80px);
}

.message-toolbar-container {
  margin: 40px auto;
}

.message-table-container {
  width: 100%;
  height: calc(100vh - 300px);
  overflow: auto;
}

.message-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-row .mat-cell {
  cursor: pointer;
  transition: all 0.6s;
}

.mat-row:hover .mat-cell {
  box-shadow: inset 0px 8px 8px -10px #ffb40066,
    inset 0px -8px 8px -10px #ffb40066;
}
